body{
	background: radial-gradient(circle, #fff 20%, #ccc);
	height: 100vh;
}

#calculator{
	max-width: 400px;
	padding: 20px 20px 9px;
	margin-top: 100px;
	background-color: black; /*#9dd2ea*/
	background: linear-gradient(black, #0bceec);
	border-radius: 5px;
	box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0,0,0,.2);
}

.screen{
	width: 100%;
	padding: 0 10px;
	background: rgba(0,0,0,.2);
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0,0,0,.2);
	height: 50px;
	color: white;
}
.operator.clear{
	background: red; /*#ff9fa8*/
	/*box-shadow: 0px 4px #ff7c87;*/
	color: white;
	height: 50px;
	width: 50px;
	margin-bottom: 7px;
}

.number, .operator{
	height: 36px;
	width: 66px;
	background: white;
	border-radius: 5px;
	box-shadow: 0px 4px rgba(0,0,0,.2);
	margin: 0 7px 11px 0;
	color: #888;
	/*prevent user from being able to select the text inside the button*/
	user-select: none;
}

.operator{
	background-color: orange;
}

.operator.equals{
	background-color: yellow;
}

#smiley{
	margin-left: -1100px;
}

#pie{
	margin-left: -1500px;
}
.spin{
	transform: rotate(720deg);
}

.big{
	transform: scale(2,2);
}

.roll{
	transition: all 4s cubic-bezier(1.000, -0.530, 0.405, 1.425);
}